<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DegitalFingerP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">DegitalFingerP</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - DegitalFingerP - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @*////////////////////////////////////////////////////////////////////////////*@
    <script>
        function initFingerprintJS() {
            //userAgentに関わる部分は取得せず端末固有のハッシュ値のみで取得
            var options = { excludes: { userAgent: true } };
            Fingerprint2.get(options, function (result) {
                //取得したもの
                var jsonString = JSON.stringify(result)
                console.log(jsonString);
                ////ハッシュ値・MurmurHash（https://tanjent.livejournal.com/756623.html）
                //var values = result.map(function (component) { return component.value });
                //this.hashval = Fingerprint2.x64hash128(values.join(''), 31);
                //console.log(hashval);
            });
            //return hashval;
        }
    </script>
    <script async
            src="~/lib/fingerprint2.js"
            onload="initFingerprintJS()"></script>
    @*////////////////////////////////////////////////////////////////////////////*@
    @RenderSection("Scripts", required: false)
</body>
</html>
